<p id="notice"><%= notice %></p>

<h1>Listing Authors</h1>
<%= link_to 'New Author', new_author_path, class: "btn btn-primary" %>
<table  class="table table-bordered table-stripped">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Dob</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.firstname %></td>
        <td><%= author.lastname %></td>
        <td><%= author.dob %></td>
        <td><%= link_to 'Show', author, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_author_path(author), class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


