<h2>albums</h2>

<a class="btn" href="/albums/new">Add Album</a>

<div class="albums">
  <div class="row">
    <ul>
      <% @albums.each do |album| %>
      <li>
        <a href="/albums/<%= album.id %>">
          <%= album.title %> - <%= album.artist.name %>
        </a>
      </li>
      <li>
        <a href="/albums/<%= album.id %>/edit">
          Edit
        </a>
      </li>
      <li>
        <form method="post" action="/albums/<%= album.id %>/delete">
          <button>Delete</button>
        </form>
      </li>
      <% end %>
    </ul>
  </div>
</div>