<h2>Edit album</h2>

<form action="/albums/<%= @album.id %>/update" method="post">
  <label for="album[title]">Title:</label>
  <input name="album[title]" value="<%= @album.title %>">
  <br>
  <label for="album[poster]">Poster:</label>
  <input name="album[poster]" value="<%= @album.poster %>">
  <br>
  <label for="album[price]">Price (cents):</label>
  <input name="album[price]" value="<%= @album.price %>">
  <br>
  <label for="album[genre_ids]">Genres:</label>
  <br>
  <% Genre.all.each do |genre| %>
    <label for="genre_<%= genre.id%>"><%= genre.name %></label>
    <input type="checkbox" name="album[genre_ids][]" id="genre_<%= genre.id%>" value="<%= genre.id%>" <%= "checked=checked" if @album.genre_ids.include?(genre.id)%>>
    <br>
  <% end %>

  <input type="submit" value="Update">
</form>
