<div class="row">
  <div class="span11">
    <h2><%= @user.email %></h2>
  </div>
  <div class="span1">
    <%= link_to '+ New', new_photo_path, class: "btn btn-success" %>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Title</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @user.photos.each do |photo| %>
      <tr>
        <td><%= image_tag photo.url, width: 100 %></td>
        <td><%= link_to photo.title, photo %></td>
        <td><%= link_to photo.user.email, photo.user %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
