<h2>Edit Scotch</h2>

<form action="/scotches/<%= @scotch.id %>" method="post" class='scotch' id="edit-scotch">
  <input type="hidden" name="_method" value="PUT">

  <div>
    <label for="scotch[brand]">Brand:</label>
    <input name="scotch[brand]" value="<%= @scotch.brand %>">
  </div>

  <div>
    <label for="scotch[year]">Year:</label>
    <input name="scotch[year]" value="<%= @scotch.year %>">
  </div>

  <div>
    <label for="scotch[blended]">Blended?</label>
    <!--
    # sweet form hack:
    having two inputs with the same name here ensures we can default to false.
    if both are false, it'll be false!
    if the first is false but the second gets checked (aka true), the second will take precedence
    -->
    <input type="hidden" name="scotch[blended]" value='false'>
    <input type="checkbox" name="scotch[blended]" <%="checked" if @scotch.blended? %>>
  </div>

  <div>
    <label for="scotch[rating]">My Rating:</label>

    <input type="radio" name="scotch[rating]" value="1" <%="checked" if @scotch.rating == 1%>
      <span>1</span>
    </input>
    <input type="radio" name="scotch[rating]" value="2" <%="checked" if @scotch.rating == 2%>
      <span>2</span>
    </input>
    <input type="radio" name="scotch[rating]" value="3" <%="checked" if @scotch.rating == 3%>
      <span>3</span>
    </input>
    <input type="radio" name="scotch[rating]" value="4" <%="checked" if @scotch.rating == 4%>
      <span>4</span>
    </input>
    <input type="radio" name="scotch[rating]" value="5" <%="checked" if @scotch.rating == 5%>
      <span>5</span>
    </input>

  </div>

  <div>
    <input type="submit" value="Add Scotch" class='btn'>
  </div>
</form>
