<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions %>
  </div>
  <div class="field">
    <%= f.label :servings %><br>
    <%= f.number_field :servings %>
  </div>
  <div class="field">
    <%= f.label :course %><br>
    <%= f.select :course_id, Course.all.collect {|c| [ c.name, c.id ] }, { include_blank: true } %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br>
    <% Ingredient.all.each do |i| %>
      <%= check_box_tag "recipe[ingredient_ids][]",  i.id, @recipe.ingredient_ids.include?(i.id) %>
      <%= label_tag i.name %><br>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
