<h2>Edit recipe</h2>

<form action="/recipes/<%= @recipe.id %>/update" method="post">
  <label for="recipe[title]">Title:</label>
  <input name="recipe[title]" value="<%= @recipe.title %>">
  <br>
  <label for="recipe[description]">Description:</label>
  <input name="recipe[description]" value="<%= @recipe.description %>">
  <br>
  <label for="recipe[servings]">Servings:</label>
  <input name="recipe[servings]" value="<%= @recipe.servings %>">
  <br>
  <label for="recipe[course_id]">Course:</label>
  <select name="recipe[course_id]">
    <% Course.all.each do |c| %>
      <option value="<%= c.id %>" <%= "selected=selected" if @recipe.course == c %>>
        <%= "#{c.name}" %>
      </option>
    <% end %>
  </select>
  <br>
  <label>Ingredients:</label>
  <br>
  <% Ingredient.all.each do |i| %>
    <%= i.name %>
    <input type="checkbox" name="recipe[ingredient_ids][]" value="<%= i.id %>" <%= "checked=checked" if @recipe.ingredient_ids.include? i.id %>>
    <br>
  <% end %>
  <br>
  
  <input type="submit" value="Update">
</form>
