<h2>recipes</h2>

<a class="btn" href="/recipes/new">Add Recipe</a>

<div class="recipes">
  <div class="row">
    <ul>
      <% @recipes.each do |recipe| %>
      <li>
        <a href="/recipes/<%= recipe.id %>">
          <%= recipe.title %> - <%= recipe.course.name %>
        </a>
      </li>
      <li>
        <a href="/recipes/<%= recipe.id %>/edit">
          Edit
        </a>
      </li>
      <li>
        <form method="post" action="/recipes/<%= recipe.id %>/delete">
          <button>Delete</button>
        </form>
      </li>
      <% end %>
    </ul>
  </div>
</div>
