<h2><%= @recipe.title %> by <%= @recipe.course.name %></h2>

<p><strong>Description :</strong> <%= @recipe.description %></p>

<p><strong>Servings :</strong> <%= @recipe.servings %></p>

<p>
  <strong>Ingredients:</strong>
  <ul>
    <% @recipe.ingredients.each do |i| %>
      <li><%= i.name %></li>
    <% end %>
  </ul>
</p>


<a href="/recipes/<%= @recipe.id %>/edit">Edit</a>
