<h2><%= @photo.title %></h2>

<p>
  <%= image_tag @photo.url, width: 200 %>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user.email %>
</p>

<% if @photo.user.id = current_user.id %>
  <p>
    <%= link_to "Edit", edit_photo_path(@photo) %>
    <%= link_to "Delete", photo_path(@photo) , method: :delete%>
  </p>
<% end %>