<% if @actor.errors.any? %>
  <% @actor.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_for @actor do |f| %>
  <div class="input-group input-group-lg">
    <%= f.label :name, class: 'input-group-addon' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <br>
  <div class="input-group input-group-lg">
    <%= f.label :year_of_birth, class: 'input-group-addon' %>
    <%= f.number_field :year_of_birth, class: 'form-control' %>
  </div>
  <br>
  <div class="input-group input-group-lg">
    <%= f.label :thumbnail, class: 'input-group-addon' %>
    <%= f.text_field :thumbnail, class: 'form-control' %>
  </div>
  <br>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
